---
layout: default
title: Reviews van campingbedjes
permalink: /campingbedjes/
---

<h1>Reviews</h1>


<div class="posts">
	{% for post in site.posts %}
	<article class="review review-excerpt">
		<figure class="review-thumb">
			<a href="{{ site.baseurl }}{{ post.url }}">
				<img src="{{ site.baseurl }}/post_images/{{ post.img.small }}"
					 alt="{{ post.title }}">
			</a>
		</figure>
		<div class="review-body">
			<h3 class="review-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <span class="score">
          {% for star in post.reviewscore|length %}
          a
          {% endfor %}
        </span>

			<div class="entry">
				{{ post.excerptbody }}
			</div>
			<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Bekijk review</a>
		</div>

	</article>
	{% endfor %}
</div>