---
layout: default
---

<p>Iedere aanstaande ouder weet dat de wereld van de babyproducten zeer uitgebreid is. Zodra je weet
	dat je zwanger bent, of misschien al daarvoor, struin je het internet af op zoek naar alle
	benodigdheden voor de aankomende kleine wolk.</p>

<p>Op jou te ondersteunen bij deze zoektocht zijn wij deze website begonnen. Voor ieder product
	schrijven wij een uitgebreide review zodat je op een plaats kan vergelijken welk product het
	beste past bij jullie situatie en behoeften. Hiermee hopen wij jou een aardige tijd aan
	onderzoek te ontnemen!</p>

<h2>Onze laatste reviews</h2>

<div class="posts">
	{% for post in site.posts %}
	<article class="review review-excerpt">
		<figure class="review-thumb">
			<a href="{{ site.baseurl }}{{ post.url }}">
				<img src="{{ site.baseurl }}/post_images/{{ post.img.small }}"
					 alt="{{ post.title }}">
			</a>
		</figure>
		<div class="review-body">
			<h3 class="review-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <span class="score">
          {% for star in post.reviewscore|length %}
          a
          {% endfor %}
        </span>

			<div class="entry">
				{{ post.excerptbody }}
			</div>
			<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Bekijk review</a>
		</div>

	</article>
	{% endfor %}
</div>