---
layout: default
title: Campingbedje kopen? Lees hier reviews, tips en vergelijkingen!
---
<article class="page">
	<h1>De zoektocht naar het beste voor jouw baby</h1>
	<p>
		Als je in verwachting bent komt er een wereld genaamd 'baby' op je af,
		je krijgt informatie van iedereen op je heen. Familie, verloskundige, vriendinnen en het internet.
		En je wilt graag het beste voor jouw kleine wolk. Maar waar begin je? Wij helpen je graag in de uitgebreide babywereld
		opzoek naar dat product wat het meest bij jullie past.
	</p>

	<p>Op jou te ondersteunen bij deze zoektocht zijn wij deze website begonnen. Voor ieder product
		schrijven wij een uitgebreide review zodat je op een plaats kan vergelijken welk product het
		beste past bij jullie situatie en behoeften. Hiermee hopen wij jou een aardige tijd aan
		onderzoek te ontnemen!</p>

	<h2>Onze laatste berichten</h2>

	<div class="posts">
		{% for post in site.posts limit:3  %}
		<article class="review review-excerpt">
			<figure class="review-thumb">
				<a href="{{ site.baseurl }}{{ post.url }}">
					<img src="{{ site.baseurl }}/post_images/{{ post.img.small }}"
						 alt="{{ post.title }}">
				</a>
			</figure>
			<div class="review-body">
				<h3 class="review-title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
					{% include rating.html rating=post.reviewscore %}
				</h3>


				<div class="entry">
					{{ post.excerptbody }}
				</div>
				<div class="button-container button-right">
					<a href="{{ site.baseurl }}{{ post.url }}" class="read-more button ">{{ post.buttonText }}</a>
				</div>
			</div>

		</article>
		{% endfor %}
	</div>
</article>