---
layout: default
---

<p>Om de keuzes in de overcomplete babymarkt iets te beperken zijn wij begonnen met een website
om moeders, vaders, opa's, oma's en alle andere mensen die opzoek zijn naar het geschikte product voor een klein wonder.</p>

<p>We gaan uitgebreide reviews schrijven over de producten die jij zoekt. De eerste producten die op de planning staan zijn
campingbedjes. We gaan tips geven voor de aanschaf en bereiden je voor zodat je zeker weet dat het product dat je koopt
aansluit bij jouw situatie.</p>

<p>Daarnaast geven we tips en handige inpaklijsten voor vakantie, logeerpartijtjes en leuke bezigheden per leeftijd.</p>

<div class="posts">
  {% for post in site.posts %}
    <article class="review review-excerpt">
      <figure class="review-thumb">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="{{ site.baseurl }}/post_images/{{ post.img.small }}" alt="{{ post.title }}">
        </a>
      </figure>
      <div class="review-body">
        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
        <span class="score">
          {% for star in post.reviewscore|length %}
          a
          {% endfor %}
        </span>
        <div class="entry">
          {{ post.excerptbody }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Bekijk review</a>
      </div>

    </article>
  {% endfor %}
</div>