<aside class="side-column panel">
	<section class="related">
		<h3 class="side-column-header">Gerelateerde producten</h3>
		{% for post in site.posts %}

		{% assign sameTagCount = 0 %}
		{% assign commonTags = '' %}

		{% for tag in post.tags %}
		{% if page.tags contains tag %}
		{% if page.title != post.title %}

		{% assign sameTagCount = sameTagCount | plus: 1 %}

		{% endif %}
		{% endif %}
		{% endfor %}

		{% if sameTagCount >= 1 %}
		<div class="aside-product">
			<a href="{{ post.url }}">
				{% if post.img %}
				<figure class="review-thumb">
					<img itemprop="image" alt="{{ post.reviewtitle }}" src="{{ site.baseurl }}/post_images/{{post.img.small}}">
				</figure>
				{% endif %}
				<h5>{{ post.title }} {% include rating.html rating=post.reviewscore %}</h5>
			</a>
		</div>
		{% endif %}

		{% endfor %}
	</section>
</aside>
