@import "variables";

.button {
	border: none;
	background: $girl;
	padding: 5px 20px;
	color: white;
	border-radius: 2px;
	font-family: $helveticaNeue;
	font-weight: lighter;

	&:hover {
		color: white;
		background: darken($girl, 10%);
		cursor: pointer;
	}
}

.button-right {
	text-align: right;
}

.button-large {
	padding: 10px 30px;
	font-size: 150%;
}

.button-centered {
	clear: both;
	display: block;
	text-align: center;
}

.button-wrapper {
	margin: 20px 0;
	display: block;
}