* {
	box-sizing: border-box;
}
.container {
	overflow: hidden;
}
.post, .page {
	max-width: 100%;
	background: white;
	padding: 20px;


	@media screen and (min-width: 640px) {
		padding: 40px 30px 30px 30px;
		width: 71%;
		float: left;
	}

	blockquote {
		margin: 1.8em .8em;
		border-left: 2px solid $gray;
		padding: 0.1em 1em;
		color: $gray;
		font-size: 22px;
		font-style: italic;
	}

	.comments {
		margin-top: 10px;
	}
}

.panel {
	background: white;
	padding: 10px 20px 20px;
	margin-bottom: 20px;
}

.top-banner {
	margin-bottom: 20px;
	text-align: center;
}

.side-column {
	margin-top: 20px;
	width: 100%;

	@media screen and (min-width: 640px) {
		width: 25%;
		margin-top: 0;
		float: right;
	}

	.button {
		display: block;
		text-align: center;
	}
}

footer {
	clear: both;
}


.home-intro ol {
	padding: 0;
	margin-left: 14px;
}

.checklist {
	width: 100%;

	ul {
		list-style: none;
		padding-left: 0;
	}

	@media screen and (min-width: 640px) {
		float: left;
		margin-right: 2%;
		width: 48%;
	}
	@media print {
		float: left;
		margin-right: 2%;
		vertical-align: top;
		width: 48%;
	}
}

@media print {
	.only-screen {
		display: none;
	}
}