.responsive-table {
	td {
		padding: 3px 6px;
	}
}

@media screen and (min-width: 651px) and (max-width: 780px) {
	.scrollable-table {
		width: 100%;
		display: block;
		overflow-x: scroll;
		overflow-y: hidden;

		thead td {
			white-space: nowrap;
			overflow: hidden;
			padding: 3px 6px;
		}
	}
}

@media screen and (max-width: 650px) {
	.responsive-table {
		padding: 5px;
	}

	.responsive-table table, .responsive-table thead, .responsive-table tbody, .responsive-table th, .responsive-table td, .responsive-table tr {
		display: block;
	}

	.responsive-table thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.responsive-table tr {
		border: 1px solid #ccc;
	}

	.responsive-table td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 30%;
	}

	.responsive-table td:before {
		position: absolute;
		left: 6px;
		min-width: 45%;
		padding-right: 5px;
		white-space: nowrap;
	}

	.responsive-table td {
		padding-left: 50%;
	}

	.responsive-table td.value-field:before {
		content: attr(title);
	}
	.responsive-table th.item_copy {
		display: none;
	}
	.responsive-table td.copynumber {
		display: none;
	}
}
