---
layout: default
---

<aside class="top-banner"><a href="http://partnerprogramma.bol.com/click/click?p=1&t=url&s=39142&url=%20http%3A//www.bol.com/nl/baby/index.html&f=BAN&name=Baby algemeen&subid=statische%20paginas" target="_blank"><img src="http://www.bol.com/nl/upload/banners/baby_141108_728x90.jpg " width="728" height="90" alt="Baby algemeen"  /></a><img src="http://partnerprogramma.bol.com/click/impression?p=1&s=39142&t=url&f=BAN&name=Baby algemeen&subid=statische%20paginas" width="1" height="1" /></aside>

<article class="panel">
	<h1>{{ page.title }}</h1>
	<img src="{{ site.baseurl }}/post_images/{{page.img.large}}" alt="{{ page.title }}">
	<p>{{ page.intro }}</p>

	{% for section in page.section %}
	<section class="checklist">
		<h3>{{ section[0] }}</h3>
		<ul class="col6">
			{% for items in section[1] %}
			<li>
				<input id="{{ items[0]}}" type="checkbox" title="{{ items[1]}}" name="{{ items[0]}}">
				<label for="{{ items[0] }}">{{ items[1] }}</label>
			</li>
			{% endfor %}
		</ul>
	</section>
	{% endfor %}

	<section class="checklist">
		<h3>Ook niet vergeten:</h3>
		<ul class="col6">
			<li>
				<input id="custom1" type="checkbox" title="custom1" name="custom1">
				<label for="custom1">
					<input type="text" class="own-input">
				</label>
			</li>
			<li>
				<input id="custom1" type="checkbox" title="custom1" name="custom1">
				<label for="custom1">
					<input type="text" class="own-input">
				</label>
			</li>
			<li>
				<input id="custom1" type="checkbox" title="custom1" name="custom1">
				<label for="custom1">
					<input type="text" class="own-input">
				</label>
			</li>
			<li>
				<input id="custom1" type="checkbox" title="custom1" name="custom1">
				<label for="custom1">
					<input type="text" class="own-input">
				</label>
			</li>
			<li>
				<input id="custom1" type="checkbox" title="custom1" name="custom1">
				<label for="custom1">
					<input type="text" class="own-input">
				</label>
			</li>
		</ul>
	</section>

	<section class="button-centered only-screen">
		<button class="button button-large" onclick="window.print();"> Printen </button>
	</section>
</article>
