---
layout: default
---



<article class="post review" itemscope itemtype="http://schema.org/Product">
  {% if page.img %}
  <figure class="review-thumb">
    <img itemprop="image" alt="{{ page.reviewtitle }}" src="{{ site.baseurl }}/post_images/{{page.img.large}}">
  </figure>
  {% endif %}
  <h1 itemprop="name">{{ page.title }}</h1>
  <div itemprop="review" itemscope itemtype="http://schema.org/Review">
    <span class="sr-only" itemprop="author">Bestbabyproducten.nl</span>
    <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <span itemprop="ratingValue" class="sr-only">
        {{ page.reviewscore }}
      </span>
      {% include rating.html rating=page.reviewscore %}
     - </span><b>"<span itemprop="name">{{ page.reviewtitle }}</span>" </b>

    <div class="entry">
          <h2 class="review-title">{{ page.introTitle }}</h2>
          <p>
            {{ page.intro }}
          </p>
    </div>

    <div class="entry" itemprop="reviewBody">
    {{ content }}
    </div>

    <div class="technics">
      <h2>Technische specificaties</h2>
      <dl class="dl-inline">
        <dt>Gewicht</dt>
        <dd>{{ page.specs.gewicht}} kg</dd>
        <dt>Uitgevouwen formaat</dt>
        <dd>{{ page.specs.afmetingen-uitgevouwen }}</dd>
        <dt>Opgevouwen formaat</dt>
        <dd>{{ page.specs.afmetingen-opgevouwen }}</dd>
        <dt>Kruipluik</dt>
        <dd>{{ page.specs.kruipluik }}</dd>
        <dt>Draagtas</dt>
        <dd>{{ page.specs.draagtas }}</dd>
        <dt>Kleur</dt>
        <dd>{{ page.specs.kleur }}</dd>
        <dt>Opvouwsysteem</dt>
        <dd>{{ page.specs.opvouwsysteem }}</dd>
        <dt>Wielen</dt>
        <dd>{{ page.specs.wielen }}</dd>
        <dt>Verstelbare hoogte</dt>
        <dd>{{ page.specs.verstelbare-bodem }}</dd>
        <dt>Richtprijs</dt>
        <dd>&euro; {{ page.specs.richtprijs|float }}</dd>
      </dl>
    </div>
  </div>

  {% include disqus.html %}
</article>

{% include related.html %}

<aside class="panel side-column">
  <h3>Moeite met kiezen?</h3>
  <p>Wij hebben een lijst met 5 tips opgesteld mogelijk kan die helpen bij het maken van een goede keuze.</p>
  <a href="{{ site.baseurl }}/campingbedjes-tips.html" class="button">Bekijk de tips</a>
</aside>
<aside class="panel side-column">
  <h3>Overzicht kwijt?</h3>
  <p> In onze vergelijk tabel kan je een mooi overzicht terugvinden met alle details van de bedjes in een oogopslag!.</p>
  <a href="{{ site.baseurl }}/campingbedjes-vergelijken.html" class="button">Vergelijk tabel</a>
</aside>
<aside class="panel side-column top-banner">
<a href="http://partnerprogramma.bol.com/click/click?p=1&t=url&s=39142&url=http%3A//www.bol.com/nl/baby/index.html&f=BAN&name=Baby 2014&subid=sidebar" target="_blank"><img src="http://www.bol.com/nl/upload/banners/baby_141108_120x600.jpg " width="120" height="600" alt="Baby 2014"  /></a><img src="http://partnerprogramma.bol.com/click/impression?p=1&s=39142&t=url&f=BAN&name=Baby 2014&subid=sidebar" width="1" height="1" />
</aside>
