---
layout: default
---



<article class="post review" itemscope itemtype="http://schema.org/Product">
  {% if page.img %}
  <figure class="review-thumb">
    <img itemprop="image" alt="{{ page.reviewtitle }}" src="{{ site.baseurl }}/post_images/{{page.img.large}}">
  </figure>
  {% endif %}
  <h1 itemprop="name">{{ page.title }}</h1>
  <div itemprop="review" itemscope itemtype="http://schema.org/Review">
    <span class="sr-only" itemprop="author">Bestbabyproducten.nl</span>
    <span itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
      <span itemprop="ratingValue" class="sr-only">
        {{ page.reviewscore }}
      </span>
      {% include rating.html rating=page.reviewscore %}
     - </span><b>"<span itemprop="name">{{ page.reviewtitle }}</span>" </b>

    <div class="entry">
          <h2 class="review-title">{{ page.introTitle }}</h2>
          <p>
            {{ page.intro }}
          </p>
    </div>

    <div class="entry" itemprop="reviewBody">
    {{ content }}
    </div>

    <div class="technics">
      <h2>Technische specificaties</h2>
      <dl class="dl-inline">
        <dt>Gewicht</dt>
        <dd>{{ page.specs.gewicht}} kg</dd>
        <dt>Uitgevouwen formaat</dt>
        <dd>{{ page.specs.afmetingen-uitgevouwen }}</dd>
        <dt>Opgevouwen formaat</dt>
        <dd>{{ page.specs.afmetingen-opgevouwen }}</dd>
        <dt>Kruipluik</dt>
        <dd>{{ page.specs.kruipluik }}</dd>
        <dt>Draagtas</dt>
        <dd>{{ page.specs.draagtas }}</dd>
        <dt>Kleur</dt>
        <dd>{{ page.specs.kleur }}</dd>
        <dt>Opvouwsysteem</dt>
        <dd>{{ page.specs.opvouwsysteem }}</dd>
        <dt>Wielen</dt>
        <dd>{{ page.specs.wielen }}</dd>
        <dt>Verstelbare hoogte</dt>
        <dd>{{ page.specs.verstelbare-bodem }}</dd>
        <dt>Richtprijs</dt>
        <dd>&euro; {{ page.specs.richtprijs|float }}</dd>
      </dl>
    </div>
  </div>

  {% include disqus.html %}
</article>

{% include related.html %}

<aside class="panel side-column">
  <h3>Moeite met kiezen?</h3>
  <p>Wij hebben een lijst met 5 tips opgesteld mogelijk kan die helpen bij het maken van een goede keuze.</p>
  <a href="{{ site.baseurl }}/campingbedjes-tips.html" class="button">Bekijk de tips</a>
</aside>

<aside class="panel side-column">
<script type="text/javascript">var bol_sitebar={"id":"bol_1451504004614","secure":false,"baseUrl":"partner.bol.com","urlPrefix":"https://aai.bol.com/openapi/services/aai/","productId":"productid=9200000024774676","site_id":"39142","target":true,"rating":true,"price":true,"link_name":"Koelstra%20-%20Travelsleeper%20T5%20Campingbed%20-%20Rood","link_subid":"","background_color":"#FFFFFF","text_color":"#CB0100","link_color":"#0000FF"};</script><script type="text/javascript" src="https://partner.bol.com/partner/static/js/aai/partnerProductlink.js" id="bol_1451504004614"></script>
</aside>